.container {
    margin-inline: auto;
    /* background-color: red; */
    max-width: 1000px;
    width: 90%;
  }
  
  .editorContainer {
    width: 95%;
    margin-inline: auto;
    height: 500px;
    border: 1px solid black;
  }